@import "../../scss";

// responsive-font-size property with `px` unit
.selector-1 {
  background-color: #f00;
  width: 300px;
  font-size: rfs(32px);
}

// responsive-font-size property with `rem` unit
.selector-2 {
  font-size: rfs(2rem);
}

// responsive-font-size property with !important
.selector-3 {
  font-size: rfs(2rem) !important;
}

// rfs shorthand
.selector-4 {
  font-size: rfs(2rem);
}

// not supported unit
.selector-5 {
  font-size: rfs(2em);
}

// special value
.selector-6 {
  font-size: rfs(inherit);
}

// responsive-font-size property inside @support-query
@supports (display: flex) {
  .selector-7 {
    font-size: rfs(28px);
  }
}

// responsive-font-size property without unit
.selector-8 {
  font-size: rfs(32);
}
