.selector-1 {
  background-color: #f00;
  width: 300px;
  font-size: min(32px, calc(16px + 2vmin)); }

.selector-2 {
  font-size: min(32px, calc(16px + 2vmin)); }

.selector-3 {
  font-size: min(32px, calc(16px + 2vmin)) !important; }

.selector-4 {
  font-size: min(32px, calc(16px + 2vmin)); }

.selector-5 {
  font-size: 2em; }

.selector-6 {
  font-size: inherit; }

@supports (display: flex) {
  .selector-7 {
    font-size: min(28px, calc(15.2px + 1.6vmin)); } }

.selector-8 {
  font-size: min(32px, calc(16px + 2vmin)); }
