.selector-1 {
  background-color: #f00;
  width: 300px;
  font-size: min(2rem, calc(1.325rem + 0.9vmin)); }

.selector-2 {
  font-size: min(2rem, calc(1.325rem + 0.9vmin)); }

.selector-3 {
  font-size: min(2rem, calc(1.325rem + 0.9vmin)) !important; }

.selector-4 {
  font-size: min(2rem, calc(1.325rem + 0.9vmin)); }

.selector-5 {
  font-size: 2em; }

.selector-6 {
  font-size: inherit; }

@supports (display: flex) {
  .selector-7 {
    font-size: min(1.75rem, calc(1.3rem + 0.6vmin)); } }

.selector-8 {
  font-size: min(2rem, calc(1.325rem + 0.9vmin)); }
